<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	{% endblock %}
</head>
<body>
	{% block nav %}
	<nav>
		<!-- 		<a id="notes" href="/notes/">
			<button>notes</button>
		</a> 
		<a id="inspect" href="/inspect/">
			<button>inspect</button>
		</a> 
		<a id="stylesheet" href="/stylesheet/">
			<button>stylesheet</button>
		</a>: 
		<input type="text" name="pad" value="https://pad.vvvvvvaria.org/volumetric-regimes.css"> 
		 -->
		<a id="home" href="{{ url_for('list')}}">
			<button>/</button>
		</a> 
		<a id="update" href="{{ url_for('unfold', pagename=pagename)}}" onclick="loading()">
			<button>update</button>
		</a>
		<a id="pdf" href="{{ url_for('pagedjs', pagename=pagename)}}">
			<button>pdf</button>
		</a> 

		<a id="stylesheet" href="{{wiki}}/index.php/{{cssnamespace}}:{{pagename}}">
			<button>css</button>
		</a>
		<a id="wiki" href="{{wiki}}/index.php/{{namespace}}:{{pagename}}">
			<button>wiki</button>
		</a>

		<div id="loading" style="display:none">loading</div>
	</nav>
	{% endblock %}
	<div id="wrapper">
		{% block content %}
		{% endblock %}
	</div>	
</body>
{% block footer %}
<script>
	function loading(){
		loading = document.getElementById("loading");
		loading.style.display = 'block !important';
	}
</script>
{% endblock %}
</html>
