<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	{% block head %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css')}}">
	{% endblock %}
</head>
<body>
	{% block nav %}
	{% endblock %}
	<div id="container">
		<div id="wrapper">
			{% block content %}
			{% endblock %}
		</div>
	  <div id="extra">
			<div id="loading" class="off">loading...</div>
		</div>
	</div>
</body>
{% block footer %}
<script>
window.addEventListener('DOMContentLoaded', function () {
	// Insert the nav buttons, after the page is loaded
	const nav = document.createElement('div');
	nav.id = 'nav';
	nav.innerHTML = '<a id="home" href="{{ url_for('list')}}"><button>/</button></a><a id="update" href="{{ url_for('unfold', pagename=pagename)}}" onclick="loading()"><button>html</button></a><a id="pdf" href="{{ url_for('pagedjs', pagename=pagename)}}"><button>pdf</button></a><a id="wiki" href="{{wiki}}/index.php/{{namespace}}:{{pagename}}"><button>wiki</button></a><a id="stylesheet" href="{{wiki}}/index.php/{{cssnamespace}}:{{pagename}}"><button>css</button></a><a id="styleedit" href="#" onclick="cssframe()"><button>edit css!</button></a><a id="savepdf" href="{{ url_for('save', pagename=pagename)}}"><button>save pdf</button></a><a id="savehtml" href="{{ url_for('savehtml',pagename=pagename)}}"><button>save html</button></a>';
	document.body.insertBefore(nav, document.body.firstChild);
});
loading = function(){
	loader = document.querySelector("#loading");
	loader.classList.toggle('off')
};
function cssframe(){
	if ( document.querySelector('#container').classList.contains("withiframe") ) {
		document.querySelector('#styleedit').firstChild.innerHTML = 'edit css!';
		document.querySelector('#iframe').remove();
		document.querySelector('#container').classList.remove('withiframe');
	} else {
		loading();
		ifra = document.createElement('iframe');
		ifra.id = 'iframe';
		ifra.style.display = 'none';
		ifra.addEventListener('load', function(){
				this.style.display = 'block';
				loading();
				if ( this.contentWindow.location.href == '{{wiki}}/index.php/{{cssnamespace}}:{{pagename}}'){
					window.location.reload(true);
				}
		});
		ifra.src = '{{wiki}}/index.php?title={{cssnamespace}}:{{pagename}}&action=edit';
		document.querySelector('#extra').append(ifra);
		document.querySelector('#styleedit').firstChild.innerHTML = 'close css frame';
	  document.querySelector('#container').classList.add('withiframe');
	}
}

</script>
{% endblock %}
</html>
