<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<link href="{{ url_for('static', filename='out/'+pagename+'/'+stylesheet)}}" rel="stylesheet" type="text/css" >

</head>
<body>
	<div id="container">
		<div id="wrapper">
		{{ publication_unfolded | safe }}
		</div>
	</div>
</body>
</html>
