{% extends "flask/base.html" %} 

{% block head %}
<script src="{{ url_for('static', filename='js/paged.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/paged.polyfill.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='js/p5.js')}}"></script>
<link href="{{ url_for('static', filename='css/interface.css')}}" rel="stylesheet" type="text/css" media="screen">
<link href="{{ url_for('static', filename='out/'+pagename+'/'+stylesheet)}}" rel="stylesheet" type="text/css" media="print">
{% endblock %}

{% block content %}
{{ publication_unfolded | safe }}
{% endblock %}

<!--
<script>
window.addEventListener('load', function () {

        // Add the main.css again to insert the nav css 
        var cssLink = document.createElement('link');
        cssLink.rel = 'stylesheet';
        cssLink.href = '/static/css/main.css';
	cssLink.media = 'screen';
        var head = document.getElementsByTagName('head')[0];
        head.insertBefore(cssLink, head.firstChild);

})
</script>
-->
