<!DOCTYPE html>
<html lang='en'>
<head>
	<meta charset="utf-8" />
	<title>{{ title }}</title>
	<style>
	{{ stylesheet | safe }}
	</style>
</head>
<body>
	<div id="container">
		<div id="wrapper">
		{{ publication_unfolded | safe }}
		</div>
	</div>
</body>
</html>
