#nav,#index{
	font-size:18px;
	font-family:monospace;
}
#nav{
	position:fixed;
}
#nav a{
	padding:10px;
}
#container{
	display:flex;
	flex-direction:row;
}
.withiframe #wrapper,.withiframe #extra {
	flex:1;
}
#extra{
	flex:0;
	height:100vh;
	transition:	flex 1s;
}
#wrapper{
	flex:1;
	height:100vh;
	transition:	flex 1s;
}
#iframe{
	position:fixed;
	width:48%;
	height:90%;
}
#loading{
	display:block;
}
#loading.off{
	display:none;
}
@-webkit-keyframes Background {
	0% {
		filter:hue-rotate(0);
	}
	50%{
		filter:hue-rotate(360deg);
	}
	100%{
		filter:hue-rotate(0);
	}
}

p,h1,h2,h3,h4,h5,li{
	font-size:1rem ;
}

li a {
	text-decoration:none;
}
li h4{
/*	display:inline-block;*/
}
h1{
	white-space: nowrap;
	overflow: hidden;
	margin-bottom:2rem;
	font-size: 2rem;
	color: transparent !important;
	background-image: linear-gradient(to right,#f0b, #af3);
	-webkit-animation:Background 5s ease infinite;
	    background-clip: border-box;
	    background-clip: text;
	    -webkit-background-clip: text;
	    -moz-background-clip: text;
	    font-weight: bold;
	display:inline-block;
}
hr{
	margin-bottom:2rem;
	margin-top:2rem;
}
button{
	font-weight:bold;
	cursor:pointer;
	font-family:monospace;
	border:10px groove #faa;
	-webkit-animation:Background 5s ease infinite;
	background:#faa;
}
button:hover{
	border-color: #aaf;
	background: #aaf;
	border-style: ridge;
}
