<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<link href="./static/css/print.css" rel="stylesheet" type="text/css" media="print">
</head>
<body>
	<div id="wrapper">
		{{ publication_unfolded }}
	</div>
</body>
</html>