<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- <script src="./static/js/paged.js" type="text/javascript"></script> -->
	<!-- <script src="./static/js/paged.polyfill.js" type="text/javascript"></script> -->
	<!-- <link href="./static/css/interface.css" rel="stylesheet" type="text/css"> -->
	<!-- <link href="./static/css/print.css" rel="stylesheet" type="text/css" media="print"> -->
</head>
<body>
	<div id="wrapper">
		{{ publication_unfolded }}
	</div>
</body>
</html>